.locationInfo {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    background-color: #062226;
    margin: 25px 0;
    padding:20px;
    gap: 30px;
    color: #5fe03f;
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 768px){
    .locationInfo {
    padding: 30px;
    gap: 60px;  
    }
}
@media (min-width: 1100px){
    .locationInfo {
    padding: 42px;
    gap: 70px;  
    }
}

.locationInfo__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .locationInfo__name {
    font-size: 50px; 
    }
}
@media (min-width: 1100px){
    .locationInfo__name {
    font-size: 75px;   
    }
}

.locationInfo__list {
    display: flex;
    justify-content: space-evenly;
    line-height: 3px;

}

.locationInfo__item {
  display: flex;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px){
    .locationInfo__item {
    font-size: 20px; 
    }
}
@media (min-width: 1100px){
    .locationInfo__item {
    font-size: 25px;   
    }
}


.locationInfo__item span{
    display: block;
    color: #7E7E7E;
    font-weight: 900;
} 


@media (min-width: 768px){
    .locationInfo__item span {
    font-size: 28px; 
    }
}
@media (min-width: 1100px){
    .locationInfo__item span {
    font-size: 40px;   
    }
}
