.hero {
    background-image: url(./rick2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    background-position: center center;   
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hero {
    height: 230px;
    background-position: center -60px;   
    }
}

@media (min-width: 1100px){
    .hero {
    height: 296px;
    background-position: center -60px;   
    }
}